*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 400;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;

}

/*header*/
header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0 .2);
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0 40px;
    transition: ease-in-out 0,5s;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}
.nav .logo{
    height: 170px;
}
.nav .logo img{
    height: 100%;
    vertical-align: top;
}
.enlaces-header{
    font-weight: 300;
    transition: ease-in-out 0,5s;
}
.nav .enlaces-header a{ 
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-left: 20px;
}
.nav .enlaces-header a:hover{
    color: #3257fa;
}
.hamburguer{
    width: 80px;
    height: 80px;
    display: none ;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}
.hamburguer >i{
    font-size: 25px;
    line-height: 80px;
}
.contenido-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header>img{
    width: 550px;
    display: flex;
    animation: ease-in animat 1s;
}

@keyframes animat{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}
.textos-header{
    margin: 0 0 0 30px;
}
.contenido-header{
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}
.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #446d7e;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130 .46);
}
.titulo{
    font-size: 50px;
}
/* About us */
.about-us{
    background: #f2f2f2;
}
.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}
/* caja */
.articulo{
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 50px 10px 100px 10px;
    transition: 0.5s;
}

/*Cambiar color de las opciones*/
.articulo>img{
    font-size: 30px;
    color: #fff;
    margin-top: -500px;
    display: inline-block;
    width: 440px;
    height: 260px;
    text-align: center;
    margin-left: 540px;
    
}
.articulo>svg{
    font-size: 30px;
    color: #fff;
    background:#bfc8d8;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(31, 222, 130 .46);
}
.articulo>i{
    font-size: 30px;
    color: #fff;
    background: #bfc8d8;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(31, 222, 130 .46);
}
.articulo>h3{
    font-size: 24px;
    margin-top: 10px;

}
.pp{
    word-spacing: 20px;
}
.input100 {
    margin-left: 14px;
    width: 8%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 6px;
}
.input200 {
    margin-left: 14px;
    width: 30%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 6px;
}
.input300 {
    margin-left: 14px;
    width: 15%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 6px;
}
.input400 {
    margin-left: 50px;
    width: 16%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 2px;
}
.input500 {
    margin-left: 17px;
    width: 8%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 6px;
}
.b1:hover{
    background-color: #faf9b9;
}
.b1{
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 16px;
    text-align: center;
    width: 100px;
}
.b2:hover{
    background-color: #faf9b9;
}
.b2{
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 16px;
    width: 100px;
    margin-left: 60px;
}
.b2 a{
    color: black;
    text-decoration: none;
}
.buttom-center { 
    height: 70px;
    position: relative;
}
.buttom-transform {
    margin-top: -70px;
    position:absolute;
    top: 0%;
    left: 945px;
    transform: translate(-100%, 0%);
}
.b3:hover{
    background-color: #faf9b9;
}
.b3{
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 16px;
    width: 100px;
}
table, td, th {
    border: 1px solid black;
    text-align: center;
}
table {
    width: 945px;
    border-collapse: collapse;
    margin-top: -90px;
}
.input600 {
    margin-left: 17px;
    width: 45%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    padding: 0 10px 80px;
}

.i1{
    width: 388px;
    height: 300px;
    margin-left: 560px;
    margin-top: -290px;
}

/* footer parte baja de la pagina "padding" */
footer{
    background: #ffffff;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;

}
.partFooter{
    width: 20%;
}

.partFooter h4{
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.partFooter img{
    width: 500px;
    height: 400px;
    margin-top: -150px;
    margin-left: -100px;
}
.partFooter a{
    display: block; 
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
}
.partFooter a:hover{
    color: #3257fa;
}
.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #add6c7;
    border: 1px solid #add6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}
.social-media i:hover{
    color: #fff;
    background-color: blue;
    border-color: blue;
}


@media screen and (max-width:800px){
    .titulo{
        font-size: 45px;
    }
    .contenido-header{
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    .contenido-header>img{
        width: 400px;
    }
    .textos-header{
        margin: 0;
    }
    /* ABOUT US Que los articules se adapten a mobil*/
    
    .articulo{
        width: 45%;
    }
    /* footer */

    footer{
        justify-content: space-evenly;
    }
    .partFooter{
        width: 40%;
        margin-bottom: 40px;

    }
}
@media  screen and (max-width:600px) {
    .titulo{
        font-size: 35px;
    }   
    h1{
        font-size: 40px;
    }
    .contenido-header{
        height: 650px;
    }
    .nav{
        padding: 0 10px;
    }
    .contenido-header>img{
        width: 200px;
    }
    .enlaces-header{
       position: fixed;
       background: #9EF7D1;

        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100%);
    }
    .nav .menudos{
        -webkit-clip-patch: circle(133.8% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }

    .hamburguer{
        display: block;
    }

    /*about us*/
    .articulo{
        width: 95%;
    }
    /* footer */
    .partFooter{
        width: 95%;
        margin-bottom: 40px;
    }
    /* footer*/
    .partFooter{
        width: 95%;
        margin-bottom: 40px;
    }
}